.input {
    display: flex;
    flex-direction: column;

    

    &__field {
        padding: 1rem;
        font-size: 2rem;
        color: #000;
        border: 1px solid #dfdfdf;
        outline: none;
        transition: all .2s;

        &:focus {
            border-color: #000;
        }
    }

    &__label {
        order: -1;
        margin-bottom: 7px;
        font-size: 1.8rem;
        color: #000;
    }

    &__error {
        margin: 5px 0;
        color:  #eb4034;
    }

    &--invalid &__field {
        border-color: #eb4034;
    }
}