.btn {
    display: inline-block;
    padding: 14px 20px;
    font-size: 16px;
    background: none;
    outline: none;
    border: 1px solid #000;
    border-radius: 0;
    cursor: pointer;
    font-weight: 500;
    transition: all .2s;
    text-transform: uppercase;

    &:hover,
    &:focus,
    &:active {
        background-color: darken(#fff, 20%);
    }

    &:focus {
        outline: 2px solid #000;
    }

    &--black {
        background-color: #000;
        color: #fff;

        &:hover,
        &:focus,
        &:active {
            background-color: lighten(#000, 20%);
            border-color: lighten(#000, 20%);
        }

    }

    &[disabled] {
        cursor: not-allowed;
        background-color: lighten(#000, 30%);
        border-color: lighten(#000, 30%);

        &:hover,
        &:focus,
        &:active {
            background-color: lighten(#000, 30%);
            border-color: lighten(#000, 30%);
        }
    }
}