.user {
    display: flex;
    align-items: center;

    @media only screen and (max-width: 767px) {
        flex-direction: column;
    }

    &__account {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        justify-content: center;
        padding: 0 2rem;
        border: 1px solid #000;
        min-height: 4.84rem;
        text-overflow: ellipsis;
        overflow: hidden;

        @media only screen and (max-width: 767px) {
            flex-basis: auto;
            width: 100%;
        }
        
    }

    &__logout {
        min-height: 4.84rem;
        
        @media only screen and (max-width: 767px) {
            
            width: 100%;
        }
    }
}